.font1 {
    font-family: 'Object Poultice', cursive;
    font-style: normal;
}

.font2 {
    font-family: 'Object Grotesque', sans-serif;
    font-style: normal;
}

.font3 {
    font-family: 'Object Authority', sans-serif;
    font-style: normal;
}
